* {
  color: #b2b561;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

div,
article {
  height: 100%;
  width: 100%;
}
hr {
  color: lightgoldenrodyellow;
  box-shadow: 0 0 10px #fff;
  margin: 1vh 0 1vh 0;
  height: 0.6vh;
}

h1,
p,
button {
  margin: 0 0 0 0;
  padding: 0;
  border: none;
}
button {
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
